<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/angular2-logo-white.png" />
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            BBBank
        </a>
    </div>
    <ul class="nav">
        <li><a [routerLink]="['/']"><i class="active fas fa-chart-line"></i> Dashboard</a></li>
        <div>
          <li><a [routerLink]="['/transfer-funds', { fromAccountId: '111', toAccountId: '222' }]"><i class="fas fa-random"></i> Transfer Funds</a></li>
          <li><a [routerLink]="['/deposit-funds']"><i class="fas fa-money-check-alt"></i>Deposit Funds</a></li>
          <li><a [routerLink]="['/create-account']"><i class="fas fa-user"></i> Create New Account</a></li>
          <li><a [routerLink]="['/manage-accounts']"><i class="fas fa-users"></i> Manage Accounts</a></li>
        </div>
      </ul> 
</div>